/* button - Row 2 */

.btn-gallery {
 max-height: 200px;
 min-width: 200px;
 max-width: 300px;
 padding: 10px;
 text-align: center;
 border-radius: 5px;
 border: 1px solid;
 background-color: transparent;
 border: 2px solid rgba(255, 255, 255, .5);
 color: rgba(255, 255, 255, .8);
 font-size: 1.5em;
 text-transform: capitalize;
}

.btn-gallery:hover {
 background-color: rgba(255, 255, 255, .5);
 color: rgb(119, 115, 115);
 border: transparent;
}

/* Row-3  about*/

.iframe-about {
 position: relative;
 overflow: hidden;
 padding-top: 56.25%;
 /* margin-top: 40px; */
 margin-bottom: 20px;
}

.iframe-youtube {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;

}


/* Row 4 Contact  */

/* Contact Form  */

/* ======== Media Queries */
@media only screen and (min-width : 240px) {

 h1 {
  font: 500 200%/100% Ubuntu;
  margin: 0 0 30px 10px;
 }

 label {
  display: block;
  margin: 0 0 10px 10px;
 }

 #contact label {
  width: 23%;
  font-size: 150%;
  text-align: left;
 }

 #contact input[type=text],
 #contact input[type=email],
 #contact textarea {
  width: 94.3%;
  font-size: 100%;
  margin-left: 10px;
 }

 #contact .button {
  margin-left: 10px;
  font-size: 130%;
 }
}


@media only screen and (min-width : 480px) {




 label,
 input {
  display: inline-block
 }

 #contact label {
  font-size: 100%;
  width: 20%;
  text-align: right;
 }

 #contact label[for=message] {
  vertical-align: top
 }

 #contact input[type=text],
 #contact input[type=email],
 #contact textarea {
  width: 66.6667%;
 }

 #contact .button {
  margin-left: 24%;
  font-size: 90%;
 }
}


/* ======== Positioning */
.form-container {
 width: 100%;
 margin: 3.33334% auto;
}

/* ======== Divider */
.line {
 clear: both;
 padding: 15px 0;
 border-top: 1px solid #EBEBEB;
}

/* ======== inputs */
#contact input[type=text],
#contact input[type=email],
#contact textarea {
 color: #666;
 box-sizing: border-box;
 border: 1px solid #CCC;
 border-radius: 3px;
 padding: 5px 8px;
}

#contact input[type=text],
#contact input[type=email] {
 height: 40px
}

#contact textarea {
 height: 200px;
 min-height: 200px;
 font-family: Ubuntu;
 overflow: auto;
 /* Removing default Scrollbar from IE */
}

#contact input[type=text]:focus,
#contact input[type=email]:focus,
#contact textarea:focus {
 outline: none;
 box-shadow: inset 1px 2px 3px #CCC;
}

/* Submit button */
#contact .button {
 padding: 10px 15px;
 border: 1px solid #1A4F82;
 border-radius: 3px;
 color: #CFE6FC;
 font-family: Ubuntu;
 font-weight: 300;
 background-color: #1A4F82;
 background-image: linear-gradient(#215F9C, #1A4F82);
 -o-background-image: linear-gradient(#215F9C, #1A4F82);
 cursor: pointer;
}

#contact .button:hover {
 -webkit-transition: all 0.5s ease-in-out 0s;
 -moz-transition: all 0.5s ease-in-out 0s;
 -o-transition: all 0.5s ease-in-out 0s;
 transition: all 0.5s ease-in-out 0s;
 background-image: linear-gradient(#2B75BD, #1F5F9C);
 -o-background-image: linear-gradient(#2B75BD, #1F5F9C);
 color: #FFF;
 box-shadow: 2px 2px 3px #999;
}

/*  iframe map style*/


.gmap_container {
 margin-top: 30px;
 height: 0;
 overflow: hidden;
 padding-bottom: 50%;
 /* desired aspect ratio */
 position: relative;
}

.googlemap {

 border: 0;
 height: 100%;
 left: 0;
 position: absolute;
 top: 0;
 width: 100%;
 padding: 10px;
 padding-left: 40px;
}

.map_wrapper {
 width: 90%;
}

@media (max-width: 550px) {
 .gmap_container {
  margin-left: 5px;
 }
}

/* =========================
Photo Page
======================================= */

/* photos page */



.gallery-container {

 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 width: 80vw;
 height: 80%;

 margin: auto;
}

.gallery-photo {
 margin: 5px;
 flex-basis: 200px;
 flex-grow: 1;
 flex-shrink: 1;
 overflow: hidden;

}

.gallery-photo {
 object-fit: cover;
 object-position: center center;
 width: 100%;
 height: 100%;
}


.gallery-title {
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
 gap: 15px;
 margin: 40px;
}

.h1-gallery {
 padding: 10px;
 color: #222;
 font-size: 2em;
 letter-spacing: 5px;
}

.h2-gallery {
 text-transform: capitalize;
 color: rgb(126, 119, 119);
 font-size: medium;
 padding-top: 30px;

}

#row-photo-1 {
 height: 100%;
 display: flex;
 background-color: rgba(224, 218, 218, 0.4);
}

.photo-1 {
 border: 1px solid blue;
}

