/* external libraries */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
/* Externar resources end */

/* Typo */
html {
 font-family: 'Nunito Sans', sans-serif;
}

/* Typo ends */

* {
 box-sizing: border-box;
 margin: 0;
}

html,
body {
 min-height: 100vh;
}

/* navigation starts here */

/* mobile Menu */

header {
 width: 100vw;
 height: 10vh;
 display: flex;

}

.navigation,
ul {
 display: flex;
 justify-content:flex-start;
 align-items: center;
 gap: 1em;
 padding: 0.5em;
}

.navigation {
 flex-grow: 1;
}

ul {
 margin-left: 25px;

}

ul,
a {
 list-style: none;
 text-decoration: none;
 padding: 0.2em;
 font-size: 1em;
 font-weight: bold;
}

.logo {
 margin-left: 15px;
 padding: 0.2em;
 font-size: 1.7em;
 text-transform: uppercase;
}

/* 

/* wider mobile devices */
@media all and (min-width: 390px) {
 ul {
  margin-left: 40px;
 }

 a {
  padding-left: 10px;
 }
} 

/* tablet menu */
@media all and (min-width: 450px) {
 .logo {
  font-size: 2.5em;
  letter-spacing: 15px;
  margin-left: 30px ;
  flex-grow: 1;
 }

 .navigation {
  display: flex;
  justify-content:flex-end;
  justify-content:space-around;
  gap: 1em;
  padding: 0.5em;
 }
 
 ul{
   margin-right:40px ;
  
 }
 a{
  font-size: 1.5em;
  letter-spacing:5px;
  margin-right:10px
 }
 
}

/* Desktop menu */
@media all and (min-width: 768px) {
 .navigation,
 ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  padding: 0.5em;
 }
}

/* navigation ends here */

/* main */

.box {
 background-color: rgb(206, 180, 180);
 font-size: 2em;
 display: flex;
 justify-content: center;
 align-items: center;
}

.row-1 {
 height: 100vh;
 display: grid;
 gap: 5px;
 grid-template-columns: repeat(3, 1fr);
 grid-template-rows: repeat(4, 1fr);
 place-content: center;
}

/* I can span colums or rows like these */

/* Option 1: */

/* .a{
  grid-column-start: 1;
  grid-column-end:4;
 } */

/* option 2: */
.a {
 grid-column: 1/3;
 grid-row: 1/3;
}

/* option3: */
.c {
 grid-row: span 2;
}

.f {
 grid-column: span 3;
}

/* row-2 */

.row-2 {
 height: 100vh;
 display: grid;
 background-color: rgb(197, 196, 190);
}

.row-3 {
 height: 100vh;
 display: grid;
 background-color: rgb(221, 213, 175);
}