html {
  font-family: 'Nunito Sans', sans-serif;
}

/* external libraries */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/* navbar */

.navlogo {
  font-size:2em;
  text-transform: uppercase;
}

ul .navbar-li {
  font-size:1.1em;
  font-weight: 200px;
  text-transform: capitalize;
}




/* landig section typo */

.box-pt-fist-line,
.box-pt-second-line,
.box-pt-third-line {
  text-transform: capitalize;
  color: #413737;
}


.box-pt-fist-line {
  font-size: 1.5em;
  padding-left: 10px;
}

.box-pt-second-line,
.box-pt-third-line {
  font-size: 4em;
}

/* section row-2 */

.text h1,
.text h2 {
  text-align: center;
  font-size: 10%;
}

.text h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.text h2 {
  font-weight: 200;
}

.text p {
 text-align: left;
  line-height: 1.2em;
  padding: 10px;
  max-width: 500px;
  font-size: 1em;
  letter-spacing: 1px;
}

@media (min-width: 400px) {
  .text h1,
  .text h2{
    font-size: 1.2em;
    
  }
}
/* typo row 3 */

/* about text styles */
.text-ab hr,
.text-ab h1,
.text-ab h2,
.text-ab p {
  padding: 20px;
}

.text-ab h1,
.text-ab h2 {
  text-align: center;
}

.p-about {
  text-align: justify;
  padding: 0 5px;
  max-width: 400px;
  min-width: 300px;

}

.p-about-one {
  background-color: rgba(222, 233, 160, 0.4)
}


/* Row-4 typo styles contact section */

.box-a h1{
  text-transform: uppercase;
  letter-spacing: 3px;
}

.box-a h2{
  font-weight: 200;
  text-transform:capitalize;
}

.address,
.phone{
  padding:20px;
  text-transform: capitalize;
  color: #666;


}


@media (max-width: 550px){
  .box-b-text{ 
    padding:10px 20px; 
    display:flex;
    flex-direction: column;
    gap: 10px;
  }
  }
  