html {
  font-family: 'Nunito Sans', sans-serif;
}

/* external libraries */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/* navbar */

.logo {
  font-size: 1.7em;
  text-transform: uppercase;
}

ul,
a {
  font-size: 1em;
  font-weight: bold;
}


.logo {
  font-size: 1.7em;
  text-transform: uppercase;
}

.navigation ul:hover {
  color: rgb(110, 99, 99);
}

/* landig section typo */

.box-pt-fist-line,
.box-pt-second-line,
.box-pt-third-line {
  text-transform: capitalize;
  color: #413737;
}


.box-pt-fist-line {
  font-size: 1.5em;
}

.box-pt-second-line,
.box-pt-third-line {
  font-size: 4em;
}

/* section row-2 */

.text h1,
.text h2 {
  text-align: center;
  font-size: 1.5em
}

.text h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.text h2 {
  font-weight: 200;
}

.text p {
  text-align: justify;
  line-height: 1.2em;
  padding: 10px;
  max-width: 500px;
  font-size: 1em;
}

/* typo row 3 */
.h1 {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  font-size: 1.5em;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.h2-about {
  padding-top: 20px ;
  padding-bottom: 20px;
  text-align: center;
  font-weight: 200;
  font-size: 1.5em;
  text-transform: capitalize;

}

.p-about-one,
.p-about-two {
  text-align: left;
  line-height: 1.2em;
  padding: 10px 30px;
  max-width: 500px;
  font-size: 1em;
}
.p-about-one {
  font-weight: bold;
}
.p-about-two {
  margin-bottom: 50px;}

